@import './root.scss';
@import './variables.scss';


#header {
    .dropdown-menu {
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    }

    .header-main {
        padding: 16px 0;
        background-color: #12131c;
        background-image: linear-gradient(to bottom right, #12131c, #3d3d3e);
    }

    .header-menu {
        font-size: $font-size-base;
        padding: 4px 0;
        background-color: #434856;

        .nav-item {
            color: #fff;
            font-weight: bold;
        }
    }
}

.movie-list-wrapper {
    .movie-list-title {
        h1 {
            font-weight: $font-weight-semibold;
            color: $title-color-2;
        }
    }

    .movie-list {
        .movie-item {
            gap: 40px;

            a {
                background-color: $black-2;
                box-shadow: 0px 8px 24px rgb(59, 63, 67);
            }

            .movie-thumbnail {
                width: 100%;
                aspect-ratio: 3/4;

                .movie-thumbnail-img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .movie-title-wrapper {
                padding: 8px;

                .movie-title {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    -webkit-line-clamp: 1;
                    line-height: 1.5rem;
                    color: $gray;

                    &.movie-main-title {
                        margin-bottom: 14px;
                        font-weight: bold;
                        color: $title-color;
                    }

                    &.movie-sub-title {
                        font-size: $font-size-sm;
                    }
                }
            }
        }
    }
}

.top-movie-list {
    .top-movie-list-title {
        h1 {
            font-weight: $font-weight-semibold;
            color: $title-color-2;
        }
    }

    .movie-list {
        background-color: $black-3;

        .movie-item-wrapper {
            .movie-list-title {
                color: $title-color-2;
            }

            .movie-item {
                background-color: $black-3;
                padding: 10px 0;

                .movie-thumbnail {
                    width: 80px;
                    aspect-ratio: 9/10;

                    .movie-thumbnail-img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .movie-info {
                    font-size: $font-size-sm;
                    color: $text-color-2;

                    .movie-main-title {
                        font-weight: bold;
                        font-size: $font-size-md;
                        color: $text-color;
                    }

                    .movie-sub-title {}

                    .movie-views {}

                    .movie-rating-stars {}

                }

                .movie-status {
                    span {
                        padding: 4px;
                        font-size: $font-size-sm;
                        background-color: $black-4;
                        color: $text-color;
                    }
                }
            }
        }
    }
}