@import './root';
@import './variables';


#header {
    .dropdown-menu {
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    }

    .header-main {
        padding: 16px 0;
        background-color: #12131c;
        background-image: linear-gradient(to bottom right, #12131c, #3d3d3e);

        .header-search-form {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            #form-search-movie {
                width: 100%;

                .search-box {
                    padding: 4px 10px;
                    border: none;
                    border-radius: $border-radius;

                    &:focus {
                        outline: none;
                        box-shadow: 0 0 12px 4px rgba(255, 253, 230, 0.2);
                    }
                }
            }

            .header-search-result {
                position: absolute;
                top: 35px;
                background-color: #272727;
                width: 100%;
                max-height: 400px;
                z-index: $zindex-modal;
                overflow-x: hidden;
                /* Hide scrollbar for IE, Edge and Firefox */
                -ms-overflow-style: none;
                scrollbar-width: none;

                /* Hide scrollbar for Chrome, Safari and Opera */
                &::-webkit-scrollbar {
                    display: none;
                }

                .search-result-item {
                    padding: 6px 10px;
                    border-bottom: 1px solid $transparent-gray;

                    .search-movie {
                        color: $text-color;

                        .movie-main-title {}

                        .movie-sub-title {
                            color: $text-color-2;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }

    .header-menu {
        font-size: $font-size-base;
        padding: 4px 0;
        background-color: #434856;

        .nav-item {
            color: #fff;
            font-weight: bold;
        }
    }
}

#footer {
    background-color: $background-color-2;
    border-top: 4px solid $yellow-2;
    color: $text-color;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    color: $text-color;
    background-color: $transparent-black-025;
    border: none;
    border-radius: 50%;

    &:hover {
        background-color: $light-sky-blue;
    }
}

.pagination {
    .page-item {
        .page-link {
            font-size: $font-size-lg;
            padding: 4px 12px;
        }
    }
}

.loading-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(-150deg, #009acc4f, #363795bd);

    .loading {
        z-index: 2;
        position: absolute;
        top: 48%;
        left: 48%;

        .spinner {
            animation: rotate 2s linear infinite;
            margin: -25px 0 0 -25px;
            width: 60px;
            height: 60px;

            & .path {
                stroke: #93bfec;
                stroke-linecap: round;
                animation: dash 1.5s ease-in-out infinite;
            }

        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes dash {
            0% {
                stroke-dasharray: 1, 150;
                stroke-dashoffset: 0;
            }

            50% {
                stroke-dasharray: 90, 150;
                stroke-dashoffset: -35;
            }

            100% {
                stroke-dasharray: 90, 150;
                stroke-dashoffset: -124;
            }
        }
    }

}

.banner {
    background-color: $light-sky-blue;
    border-radius: $border-radius-lg;

    .banner-content {
        margin: 0;
        color: $text-color;

        .banner-link {
            color: $primary-color;
        }
    }
}

.movie-placeholder {
    position: relative;
    width: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;

    .movie-thumbnail {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .movie-title-wrapper {
        position: sticky;
        bottom: 0;
        padding: 90px 8px 8px 8px;
        background-image: linear-gradient(transparent, #00172b 90%);
    }
}

.movie-list-wrapper {
    .movie-list-title {
        h1 {
            font-weight: $font-weight-semibold;
            color: $title-color-2;
        }

        .movie-list-all-btn {
            color: $text-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .movie-list {
        .movie-item {
            gap: 40px;

            a {
                background-color: $black-2;
                box-shadow: 0px 8px 24px rgb(59, 63, 67);
            }

            .movie {
                width: 100%;
                aspect-ratio: 3/4;
                overflow: hidden;

                .movie-thumbnail {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .movie-title-wrapper {
                    position: sticky;
                    bottom: 0;
                    padding: 90px 8px 8px 8px;
                    background-image: linear-gradient(transparent, #00172b 90%);

                    .movie-title {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        -webkit-line-clamp: 1;
                        line-height: 2rem;
                        color: $gray;

                        &.movie-main-title {
                            margin-bottom: 4px;
                            font-size: $font-size-lg;
                            font-weight: bold;
                            color: $title-color;
                        }

                        &.movie-sub-title {
                            font-size: $font-size-sm;
                        }
                    }
                }
            }
        }
    }
}

.top-movie-list {
    .top-movie-list-title {
        h1 {
            font-weight: $font-weight-semibold;
            color: $title-color-2;
        }

        a {
            display: inline-block;

        }
    }

    .movie-list {
        background-color: $black-3;

        .movie-item-wrapper {
            .movie-list-title {
                color: $title-color-2;
            }

            .movie-item {
                padding: 10px 0;

                .movie-thumbnail {
                    width: 80px;
                    aspect-ratio: 9/10;

                    .movie-thumbnail-img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .movie-info-wrapper {

                    .movie-info {
                        font-size: $font-size-sm;
                        color: $text-color-2;

                        .movie-main-title {
                            font-weight: bold;
                            font-size: $font-size-md;
                            color: $text-color;
                        }

                        .movie-rating-stars {
                            display: inline-block;
                            margin-top: auto;
                        }
                    }

                    .movie-status {
                        span {
                            padding: 4px;
                            font-size: $font-size-sm;
                            background-color: $black-4;
                            color: $text-color;
                            text-wrap: nowrap;
                            box-shadow: $box-shadow;
                        }
                    }
                }

            }

            &:nth-child(odd) {
                background-color: $black-3;
            }

            &:nth-child(even) {
                background: $background-color-2;
            }
        }

        .first-movie {
            .movie-item {
                position: relative;

                .movie-thumbnail {
                    width: 100%;
                    aspect-ratio: 10/4;
                }

                .movie-info-wrapper {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    padding: 6px 16px;
                    background-color: $transparent-black-05;

                    .movie-info {

                        .movie-sub-title,
                        .movie-views,
                        .movie-rating-stars {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.star {
    font-size: 1.6rem;
    color: lightgray;
}

.star.filled {
    color: gold;
}