@import './root';
@import './variables';


#header {
    .dropdown-menu {
        .dropdown:hover .dropdown-menu {
            display: block;
        }
    }

    .header-main {
        padding: 16px 0;
        background-color: #12131c;
        background-image: linear-gradient(to bottom right, #12131c, #3d3d3e);

        .search-box {
            padding: 4px 10px;
            border: none;
            border-radius: $border-radius;

            &:focus {
                outline: none;
                box-shadow: 0 0 12px 4px rgba(255, 253, 230, 0.2);
            }
        }
    }

    .header-menu {
        font-size: $font-size-base;
        padding: 4px 0;
        background-color: #434856;

        .nav-item {
            color: #fff;
            font-weight: bold;
        }
    }
}

#footer {
    background-color: $background-color-2;
    border-top: 4px solid $yellow-2;
    color: $text-color;        
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: $transparent-black-025;
    border-radius: 50%;

    &:hover {
        background-color: $light-sky-blue;
    }
}

.banner {
    background-color: $light-sky-blue;
    border-radius: $border-radius-lg;

    .banner-content {
        margin: 0;
        color: $text-color;

        .banner-link {
            color: $primary-color;
        }
    }
}
  
.movie-list-wrapper {
    .movie-list-title {
        h1 {
            font-weight: $font-weight-semibold;
            color: $title-color-2;
        }

        .movie-list-all-btn {
            color: $text-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .movie-list {
        .movie-item {
            gap: 40px;

            a {
                background-color: $black-2;
                box-shadow: 0px 8px 24px rgb(59, 63, 67);
            }

            .movie-thumbnail {
                width: 100%;
                aspect-ratio: 3/4;
                overflow: hidden;

                .movie-thumbnail-img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .movie-title-wrapper {
                padding: 8px;

                .movie-title {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    -webkit-line-clamp: 1;
                    line-height: 1.5rem;
                    color: $gray;

                    &.movie-main-title {
                        margin-bottom: 12px;
                        font-weight: bold;
                        color: $title-color;
                    }

                    &.movie-sub-title {
                        font-size: $font-size-sm;
                    }
                }
            }
        }
    }
}

.top-movie-list {
    .top-movie-list-title {
        h1 {
            font-weight: $font-weight-semibold;
            color: $title-color-2;
        }

        a {
            display: inline-block;

        }
    }

    .movie-list {
        background-color: $black-3;

        .movie-item-wrapper {
            .movie-list-title {
                color: $title-color-2;
            }

            .movie-item {
                padding: 10px 0;

                .movie-thumbnail {
                    width: 80px;
                    aspect-ratio: 9/10;

                    .movie-thumbnail-img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .movie-info-wrapper {

                    .movie-info {
                        font-size: $font-size-sm;
                        color: $text-color-2;

                        .movie-main-title {
                            font-weight: bold;
                            font-size: $font-size-md;
                            color: $text-color;
                        }

                        .movie-rating-stars {
                            display: inline-block;
                            margin-top: auto;
                        }
                    }

                    .movie-status {
                        span {
                            padding: 4px;
                            font-size: $font-size-sm;
                            background-color: $black-4;
                            color: $text-color;
                            text-wrap: nowrap;
                            box-shadow: $box-shadow;
                        }
                    }
                }

            }

            &:nth-child(odd) {
                background-color: $black-3;
            }

            &:nth-child(even) {
                background: $background-color-2;
            }
        }

        .first-movie {
            .movie-item {
                position: relative;

                .movie-thumbnail {
                    width: 100%;
                    aspect-ratio: 10/4;
                }

                .movie-info-wrapper {
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    padding: 6px 16px;
                    background-color: $transparent-black-05;

                    .movie-info {

                        .movie-sub-title,
                        .movie-views,
                        .movie-rating-stars {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.star {
    font-size: 1.6rem;
    color: lightgray;
}

.star.filled {
    color: gold;
}